.createInput{
  margin: 20px;
  width: 260px;
  font-size: 20px;
}

.createButton{
  background-color: #a19882;
  color: white;
  border-radius: 8px;
  margin: 5px;
  font-size: 25px;
}

.createAccountTitle {
  background-color: #a19882;
  color: white;
  border-radius: 8px;
  margin: 5px;
  font-size: 25px;
}